body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    border: 1px solid #ccc;
}

.card-header {
    background: #1a1a2e;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 18px;
    text-align: center;
}

.card-content {
    padding: 20px;
}

.card-content .info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-content .info img {
    border-radius: 50%;
    margin-right: 15px;
    height: 80px;
    width: 80px;
}

.card-content .info .details {
    color: #555;
}

.card-content .info .details h2 {
    margin: 0;
    font-size: 18px;
}

.card-content .info .details p {
    margin: 5px 0;
    color: #777;
}

.card-content .details-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.card-content .details-row p {
    margin: 0;
    color: #555;
}

.card-content .details-row .label {
    font-weight: bold;
}

.hobbies textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    height: 60px;
    box-sizing: border-box;
}

.hobbies button {
    width: 100%;
    padding: 10px;
    background: #1a1a2e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.hobbies button:hover {
    background: #0f0f1e;
}

.hobbies-list {
    list-style-type: none;
    padding: 0;
}

.hobbies-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.hobbies-list li::before {
    content: "•";
    color: #1a1a2e;
    font-size: 20px;
    margin-right: 10px;
}

.hobbies-list li button {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    height: 25px; /* Ensure the button is square */
    width: 25px;  /* Ensure the button is square */
    display: flex;
    justify-content: center;
    align-items: center;
}
