<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Personal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <div class="card-header">
            Informacion personal
        </div>
        <div class="card-content">
            <div class="info">
                <img src="https://res.cloudinary.com/dltytaqui/image/upload/v1717688417/udrnhykjtfuxmd4sqr1x.jpg" alt="Avatar">
                <div class="details">
                    <h2>Avelina Hernández Hernández</h2>
                    <p>Matricula: 20210667</p>
                    <p>Grado: 9"A"</p>
                </div>
            </div>
            <div class="details-row">
                <p class="label">Full Name:</p>
                <p>Avelina Hernández Hernández</p>
            </div>
            <div class="details-row">
                <p class="label">Matricula:</p>
                <p>20210667</p>
            </div>
            <div class="details-row">
                <p class="label">Grado:</p>
                <p>9"A"</p>
            </div>
        </div>
    </div>
</body>
</html>